* {
	box-sizing: border-box;
}

body
{
    background-color: black;
    font-family: Verdana, Arial, "Times New Roman";
    font-size: 11pt;
    padding: 0;
}

#container 
{
    background-color: #3b3b3b;
    margin: 10px auto;
    padding: 10px 20px;
    width: 90%;
}

#logo 
{
   margin: 10px auto;
}

#logo img
{
	width: 100%;
}

#topmenu table
{
	text-align: justify;
	width: 100%;
}

#topmenu a
{
	color: white;
	padding: 10px 5px;
    font-weight: lighter;
    text-decoration: none;
}

#topmenu a:hover 
{
    color: black;
    background-color: #e6e6e6;
}

#topmenu a.current
{
	text-decoration: underline;
}

#info 
{
   background-color: white;
   color: black;
   overflow: hidden;
}

#news 
{
	font-size: 10pt;
	margin: 15px;
	padding: 10px;
    float: left;
	width: 20%;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}

#news p 
{
    margin: 10px 0;
}
#news a 
{
    color: #4b4f55;
}

#news a:hover 
{
   color: black; 
}

#news a:visited 
{
    color: #4b4f55;
}

#news ul.pdf 
{
    list-style-image:url(images/pdf.png);
}

#news ul.read_more 
{
    list-style-image:url(images/read_more.png);
}

.new
{
	margin-bottom: 10px;
	padding: 0px 2px;
}

.new img
{
	width: 100%;
	border-radius: 5px;
}

#right 
{
	margin: 15px;
    float: left;
    width: 70%;
}

#article 
{
    padding: 20px;
}

#article img
{
	margin: 0 10px 15px 15px;
	width: 40%;
}

#article img.left
{
	float: left;
}

#article img.right
{
	float: right;
}

#article img.medium
{
	width: 30%;
}

#article p a
{
	text-decoration: underline; 
	color: black
}

#right ul 
{
    padding: 0 17px;
}

#basement 
{
    margin-top: 10px;
}

#basement table
{
	width: 30%;
	text-align: justify;
}

#basement a
{
    color: #959b9a;
    font-size: 10pt;
    font-weight: lighter;
    text-decoration: none;
}

#basement a:hover 
{
    text-decoration: underline;
    text-decoration-color: #959b9a;
}

#form
{
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	margin: 10px auto;
}

#form table
{
	width: 80%;
	margin: 10px auto;
}

#form label 
{
	width: 100%;
    cursor: pointer;
}

#form input
{
	width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px 10px;
    resize: none;
}

#form td span
{
	color: red;
}

#form textarea 
{
	width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px 10px;
    resize: none;
}

#form input[type="submit"] 
{
	width: 100%;
    font-weight: bold;
    background-color: #ffc300;
}

img
{
	object-fit: cover;
	object-position: 50% 0%;
}

h2
{
	background-color: #ffc300;
	border-radius: 5px;
    font-size: 12pt;
    text-align: center;
	padding: 8px;
}

.new h2
{
	margin: 10px 0;
}

#motto img
{
	width: 10%;
	display: block;
	margin: 15px auto;
}

table.complectation
{
	margin: 5x auto;
	text-align:center; 
	border:none; 
	border-collapse:collapse;
	width: 100%;
}

table.complectation th
{
	background-color: #ffc300;
}

table.gallery
{
	margin: 15px auto;
	width: 100%;
}

#article table.gallery img
{
	margin: 0px;
	width: 100%;
}

@media (max-width: 1000px)
{
	body
	{
		font-size: 9pt;
	}
	
	h2
	{
		font-size: 10pt;
	}
	
	a
	{
		font-size: 8pt;
	}
	
	#news
	{
		margin: 15px auto;
		width: 90%;
		float: none;
		font-size: 8pt;
	}
	
	#right
	{
		margin: 15px auto;
		width: 90%;
		float: none;
	}
	
	#basement a
	{
		font-size: 8pt;
	}
	
	table.complectation
	{
		font-size: 8pt;
	}
	
	#form table
	{
		font-size: 8pt;
	}
	
	#article img
	{	
		margin: 0 5px 5px 5px;
		width: 40%;
	}
}

@media (max-width: 400px) {
	#topmenu tr{
		display: flex;
		flex-direction: column;
	}
	
	#topmenu td {
		display: block;
		width: 100%;
	}
	
	#topmenu a {
		display: block;
		width: 100%;
		text-align: center;
	}
}





